<!DOCTYPE html>
<html>
    <head>
        <title>HBSIS Livraria</title>
        <link rel="shortcut icon" href="#">

        @using System.Web.Optimization
        @Scripts.Render("~/admin/scripts")
        @Styles.Render("~/admin/styles")

    </head>       
    <body>
        @RenderBody()
    </body>
</html>