
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divBookList" v-cloak>


    <div class="btn-group" role="group" style="margin: 20px 0;">
        @*<button v-on:click="newEvent" type="button" class="btn btn-primary">Novo Evento</button>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ExportExcel", "/Event/")'">Exportar</button>*@
    </div>

    <div v-if="errors.length > 0">
        <ul>
            <li v-for="e in errors" v-text="e"></li>
        </ul>
    </div>

    <label v-if="books.length <= 0">Não há livros cadastrados</label>

    <div class="table-responsive">
        <table class="table" v-if="books.length > 0">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data de Publicação</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editora</th>
                    <th scope="col">Criado em</th>
                    <th scope="col">Atualizado em</th>                    
                </tr>
            </thead>
            <tbody>
                <tr v-for="(b, bx) in books">
                    <td>{{ b.Titulo }}</td>
                    <td>{{ b.Valor }}</td>
                    <td>{{ b.DataPublicacaoFormatado }}</td>
                    <td>{{ b.AutorId }}</td>
                    <td>{{ b.EditoraId }}</td>
                    <td>{{ b.CriacaoFormatado }}</td>
                    <td>{{ b.AtualizacaoFormatado }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@Scripts.Render("~/admin/book/index")